.krafbody {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  padding: 0 15%;
  overflow: hidden;
  padding: 5.7% 5% 0 5%;
}

.footer {
  height: 30vh;
  padding: 0 15%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 25px;
}
