.item_layout {
  position: relative;
  display: flex;
  border: 1px solid;
  min-width: 250px;
  width: 90%;
  min-height: 400px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* padding: 0 2%; */
  background-color: #000;
  /* margin: 0 2%; */
}

.item_text1 {
  color: #000;
}
.item_text1:hover {
  color: gold;
}
.item_text2 {
  color: green;
}
.item_text2:hover {
  color: gold;
}
.item_text3 {
  color: gold;
}
.item_text3:hover {
  color: #000;
}
